version: 2
registries:
  dusseldorf-ktor:
    type: maven-repository
    url: https://maven.pkg.github.com/navikt/dusseldorf-ktor
    username: x-access-token
    password: ${{secrets.READER_TOKEN}}

updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    groups:
      github:
        patterns:
          - "*"

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    registries:
      - dusseldorf-ktor
    groups:
      ktor-deps:
        patterns:
          - "*ktor*"
          - "*dusseldorf*"
      gradle:
        patterns:
          - "*"
        exclude-patterns:
          - "*ktor*"
          - "*dusseldorf*"
        
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
